*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 .container img{
     margin: 100px 500px 0 500px;
 }
.input{
     margin-left: 400px;
    padding: 15px 70px 15px 20px;
    width: 500px;
    border-radius: 40px;
    outline: none;
     color: gray;
     border: 1px solid gray;
}
 .Btn{ 
     display: flex;
     justify-content: center;
     align-items: center;
     gap: 20px;
    
 }
 .Btn button{
     padding: 10px 13px;
     margin-top: 30px;
     background-color: #80808082;
     border-radius: 5px;
     border: none;
 }
